@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

}

.text-content {
    padding: 7%;
    text-align: center;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    gap: 10px;
    padding: 25px;
    justify-content: space-between;
}